ul {
    list-style-type: none;
    line-height: 3;
    font-size: 20px;
    margin: 0px;
    text-align: center;
    background-color: goldenrod;
}

.container {
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    background-color: blue;
    width: 100%;
}